* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;

    background-color: rgb(112, 8, 8);

}

header {
    padding: 10px 0;
    height: 100px;
    float: left;
    width: 100%;

    background-color: #000000;
    color: #001aff;
    text-align: center;
    position: fixed;

}

.sidebar {
    min-height: calc(100vh - 100px - 50px);
    width: 25%;
    padding: 15px;
    margin-top: 100px;

    background-color: rgb(112, 8, 8);
    color: #ffffff;
    float: left;

}

.main-content {
    min-height: calc(100vh - 100px - 50px);
    width: 75%;
    padding: 15px;
    margin-top: 100px;

    color: #ffffff;
    float: left;
    background-color: #810000;
}

footer {
    width: 100%;
    padding: 15px 0;
    height: 50px;

    background-color: #000000;
    color: #ffffff;
    text-align: center;
    float: left;

}

.menu {
    list-style: none;
    position: fixed;

}

.menu li {
    display: block;
    float: left;
    padding: 20px;
}

.menu li:hover {
    background-color: red;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}